<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <div *ngIf="this.errorMessage.length > 0" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{errorMessage}}
        </div>
      </div>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Mobile Food Facility Permit
        </h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="profileForm" >
          <c-button-group class="float-end me-3" role="group">
            <input cFormControl type="text" formControlName="food" aria-label="sm input example" placeholder="Search (Food,Truck)" />
            <input cFormControl type="text" formControlName="latitude" aria-label="sm input example" placeholder="Latitude" />
            <input cFormControl type="text" formControlName="longitude" aria-label="sm input example" placeholder="Longitude" />
            <button (click)="onClick()" type="submit" cButton color="primary">Search</button>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <div class="google-map">
      <google-map height="500px" width="100%" [zoom]="zoom"  [options]="options" [center]="center">
        <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
          [title]="marker.title" [options]="marker.options">
        </map-marker>
      </google-map>
    </div>
    <!-- <c-chart [data]="mainChart.data"
             [height]="300"
             [ngStyle]="{'marginTop.px': 40}"
             [options]="mainChart.options"
             [type]="mainChart.type">
      Main chart
    </c-chart> -->
  </c-card-body>
  <c-card-footer>
    <!-- <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row> -->
  </c-card-footer>
</c-card>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar>
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis">
                  <span>{{ user.state }}</span> | Registered:
                  {{ user.registered }}
                </div>
              </td>
              <td class="text-center">
                <svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                  title="{{ user.country }}"></svg>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-start">
                    <strong>{{ user.usage }}%</strong>
                  </div>
                  <div class="float-end">
                    <small class="text-medium-emphasis">
                      {{ user.period }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <strong>{{ user.activity }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>